.results {
    display: flex;
    flex-direction: column;
}
a {
    display: flex;
}
img {
    height: 10vw;
    width: 10vw;
    margin: 1vw;
}
a div {
    margin: 1vw;
    align-items: center;
}
h3 {
    margin: 1vw;
}
.more-button {
    display: inline-block;
    left: 50%;
    visibility: hidden;
}

/* .results div {
    float: right;
    
}
.results-container {
    display: flex;
    flex-direction: column;
} */
