* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    height: 5vh;
    width: auto;
    background-color: #fff;
}

.nav-bar div {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

#logo {
    float: left;
}

#hamburger {
    float: right;
    text-align: end;
}

#hamburger img {
    max-width: 10%;
}

#logo img {
    max-width: 20%;
    display: block;
}
