* {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
}

header {
    height: 5vh;
    width: auto;
    background-color: #fff;
}

header div {
    width: 50%;
    height: 5vh;
}

#logo {
    float: left;
}

#hamburger {
    float: right;
    text-align: end;
}

#hamburger img {
    max-width: 25px;
}

#logo img {
    max-width: 120px;
}
#home {
    text-align: center;
    letter-spacing: 1px;
}
#home .container {
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}
#home img {
    background-size: cover;
    width: fit-content;
}
h2 {
    color: #fff;
    font-style: italic;
    font-weight: 500;
    font-size: 45px;
}
button {
    background-color: #ffff02;
    color: #daa520;
    border: 6px solid #daa520;
    border-radius: 30px;
    padding: 4px 15px;
    text-justify: auto;
    font-size: 35px;
}
.home-content {
    position: absolute;
    bottom: 350px;
    left: 580px;
    z-index: 1;
}
