* {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-bar {
    height: 5vh;
    width: auto;
    background-color: #fff;
}

.nav-bar div {
    width: 50%;
    height: 5vh;
}

#logo {
    float: left;
}

#hamburger {
    float: right;
    text-align: end;
}

#hamburger img {
    max-width: 25px;
}

#logo img {
    max-width: 120px;
}
#home {
    background-image: url("assets/spices.jpg");
    text-align: center;
    letter-spacing: 1px;
}
#home .container {
    width: 100vw;
    height: 100vh;
    /* background-size: cover; */
    background-repeat: no-repeat;
}
h2 {
    color: #fff;
    font-style: italic;
    font-weight: 500;
    font-size: larger;
}
button {
    background-color: #ffff02;
    color: #daa520;
    border: 2px solid #daa520;
    border-radius: 20px;
    padding: 4px 15px;
    text-justify: auto;
}
