* {
    margin: 0;
}

.kitty-container {
    position: relative;
    height: 600px;
    overflow: hidden; /*hide offscreen and fit them in container height*/
}

.kitty-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(100%);
}

.kitty-container img.onscreen {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 2s;
}

.kitty-container img.exit {
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 2s;
}
